<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrh.shaketorch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    
     <permission android:name="android.permission.FLASHLIGHT"
             android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
             android:protectionLevel="normal" />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hrh.shaketorch.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hrh.shaketorch.Seekbar" >
        </activity>
        <activity android:name="com.hrh.shaketorch.SampleSeekBarDialogPreferenceSettings" >
        </activity>
        
        <activity android:name="com.hrh.screentorch.ScreenTorch" >
        </activity>
        <activity
            android:name="com.hrh.shaketorch.ActivityPreferences"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/preference_activity_name"
            android:theme="@android:style/Theme" >
        </activity>

        <service
            android:name="com.hrh.shaketorch.ShakeService"
            android:enabled="true" />

        <activity
            android:name="com.hrh.shaketorch.ShakeActivity"
            android:label="@string/title_activity_shake"
            android:screenOrientation="portrait" >
        </activity>
        
        <receiver android:name=".ScreenReceiver">
    <intent-filter>
        <action android:name="android.intent.action.SCREEN_OFF"/>
        <action android:name="android.intent.action.SCREEN_ON"/>
    </intent-filter>
</receiver>
        
    </application>

</manifest>